body{
  background:  #dcd6f7;
}

a{
  color: #424874;
}


.App-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #424874;
  color: white;

}

.footer{
  text-align: center;
  margin: 30px 0;
}
