.Meaning h3{
font-size: 30px;
line-height: 1.5;
font-weight: bold;
}

.Meaning .definition{

}

.Meaning .example{
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
    margin-top: 10px;
}