.phonetic{
    margin:20px 0;

}

.phonetic a {
border: 1px solid  #424874;
text-decoration: none;
padding: 10px 20px;
border-radius: 20px;
transition: all 150ms ease-in-out;
margin-right: 20px;
font-size: 12px;
font-weight: bold;
}
.phonetic a:hover{
background: #424874;
color: #dcd6f7;
}

.phonetic .text{
    opacity: 0.7;
    font-weight: bold;
}