.phonetic-pill{
    background: rgba(168, 85, 247, 0.1);
    border:1px solid rgba(168, 85, 247, 0.2);
    padding:6px 14px;
    border-radius:50px;
    gap:10px;
    margin:10px;
}

.audio-trigger-btn{
    background: none;
    border: none;
    color:var(--accent-electric);
    font-size:1rem;
    padding:0;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: transform 0.2 ease, color 0.2 ease;
}

.audio-trigger-btn:hover{
    transform:scale(1.2);
    color: var(--text-main)

}

.phonetic-text-string{
    font-size:0.95rem;
    font-weight:500;
    color:var(--text-muted)
}